.card{
    width:250px;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 16px;
    border: 1px solid black;
    margin: 8px 20px;
  }
  .imagem{
      width: 250px;
      height: 300px;
      padding-bottom: 5px;
  
  
  }
  .conteudo{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      
  }
  .botao{
      align-self: center;
      margin-top: 4px;
  }